/*Last updated on June 7, 2016.*/

/*Set up the content.*/
.content {max-width: 900px; margin: 0 auto; width: 100%;}
#summary h1 {font-size: 1.9vmin; text-align: center}
#summary h2 {font-size: 1.9vmin; padding-top: 5vmin; text-align: center}
#summary h3 {font-size: 2.5vmin; padding-top: 5vmin; text-align: center}
#summary_2 h1 {font-size: 1.75vmin; padding-left: 1vmin; text-align: left}
#summary_2 h2 {font-size: 1.75vmin; padding-left: 1vmin; padding-top: 0.5vmin; text-align: left}
#summary_2 h3 {font-size: 3vmin; padding-left: 1vmin; text-align: left}
#summary_2 h4 {font-size: 3vmin; padding-left: 1vmin; padding-top: 7.5vmin; text-align: left}
#summary_3 h1 {font-size: 4vmin; top: -8vmin; text-align: center}

/*Set the styles of the navigation bar.*/
nav {height: 4rem; width: 100%; position: fixed; top: 0; background-color: #181818; z-index: 2;}
nav ul {height: 4rem; margin: 0; padding: 0; display: inline-block; font-size: 0; list-style: none;}
nav ul li {font-size: 1rem; padding: 0; display: inline-block;}
nav ul li p {height: 2rem; line-height: 2rem; color: white; margin: 0; padding: 1rem 1rem;}
nav ul li:hover {cursor: pointer; background-color: #bebebe;}
nav ul li.action-item {color: white; background-color: #596cb9;}
nav ul li.action-item:hover {color: white; background-color: #3048a8;}
nav ul.right {float:right;}
.navbar-wrapper {height: 4rem;}

/*Set up the home page's large picture. */
.jumbotron {position: relative; overflow: hidden; height: 100%; max-height: 100vmin;}
.jumbotron-image {top: -80px; bottom: 10px; width: 100%; background: url("../images/home.jpeg") no-repeat; background-size: cover; background-position: center center; position: absolute; z-index: -1; opacity: 0.5;}
.jumbotron h1 {position: relative; text-align: center; color: #3048a8; padding-top: 36.5vmin; z-index: 1; font-size: 7.65vmin;}
.jumbotron h2 {font-weight: 700; position: relative; text-align: center; color: white; padding-top: 3vmin; z-index: 1; font-size: 5.5vmin; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;}
.jumbotron h3 {font-weight: 700; position: relative; text-align: center; color: white; z-index: 1; font-size: 5.5vmin; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;} 

/*Set up the about page's first picture. */
.about {position: relative; overflow: hidden; height: 100%; max-height: 60vmin;}
.about-image-1 {top: -600px; bottom: -400px; width: 100%; background: url("../images/about_1.jpg") no-repeat; background-size: cover; background-position: center center; position: absolute; z-index: -1; opacity: 0.5;}
.about h1 {position: relative; text-align: left; color: #3048a8; top: -4vmin; z-index: 1; font-size: 4vmin;}
.about h2 {font-weight: 700; position: relative; text-align: left; color: white; padding-top: 11vmin; z-index: 1; font-size: 7vmin; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;}
.about h3 {font-weight: 700; position: relative; text-align: center; color: white; z-index: 1; font-size: 5vmin; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;} 

/*Set up the about page's second picture. */
.about2 {margin-top: 7vmin; position: relative; overflow: hidden; height: 100%; max-height: 60vmin;}
.about-image-2 {top: -5px; bottom: -5px; width: 100%; background: url("../images/about_2.jpg") no-repeat; background-size: cover; background-position: center center; position: absolute; z-index: -1; opacity: 0.5;}
.about2 h1 {position: relative; text-align: center; color: #3048a8; top: -4vmin; z-index: 1; font-size: 4vmin;}
.about2 h2 {font-weight: 700; position: relative; text-align: center; color: white; padding-top: 20vmin; z-index: 1; font-size: 10vmin; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;}
.about2 h3 {font-weight: 700; position: relative; text-align: center; color: white; z-index: 1; font-size: 5vmin; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;} 

/*Set up footer. */
footer {margin-top: 7vmin; padding: 0.005rem; background-color: #181818; color: white; text-align: center; font-size: 1.5vmin;}
